---
swagger: "2.0"
info:
  version: "2020-05-05T08:05:38Z"
  title: "prod-event-collector"
host: "api.data.oslo.systems"
basePath: "/event-collector"
schemes:
- "https"
paths:
  /event/{datasetId}/{version}:
    post:
      summary: "Takes a single event and puts it on a data stream."
      description: "Takes a single event and puts it on a data stream."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "version"
        in: "path"
        description: "Version for destination dataset"
        required: true
        type: "string"
      - name: "datasetId"
        in: "path"
        description: "Identifier for destination dataset"
        required: true
        type: "string"
      - in: "body"
        name: "postEventRequest"
        description: "An arbitrary json object."
        required: true
        schema:
          $ref: "#/definitions/postEventRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/standardResponse"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/standardResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/serverError"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/standardResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/standardResponse"
      security:
      - authenticate: []
  /events/{datasetId}/{version}:
    post:
      summary: "Takes a list of events and puts them on a data stream."
      description: "Takes a list of events and puts them on a data stream."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "version"
        in: "path"
        description: "Version for destination dataset"
        required: true
        type: "string"
      - name: "datasetId"
        in: "path"
        description: "Identifier for destination dataset"
        required: true
        type: "string"
      - in: "body"
        name: "postEventsRequest"
        description: "Array of json objects."
        required: true
        schema:
          $ref: "#/definitions/postEventsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/standardResponse"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/standardResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/serverError"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/standardResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/standardResponse"
      security:
      - authenticate: []
  /webhook:
    post:
      responses: {}
  /webhook/event/{dataset_id}/{version}:
    post:
      summary: "Takes a single event and puts it on a data stream."
      description: "Takes a single event and puts it on a data stream."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "version"
        in: "path"
        description: "Version for destination dataset"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "webhook token"
        required: true
        type: "string"
      - name: "dataset_id"
        in: "path"
        description: "Identifier for destination dataset"
        required: true
        type: "string"
      - in: "body"
        name: "postEventRequest"
        description: "An arbitrary json object."
        required: true
        schema:
          $ref: "#/definitions/postEventRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/standardResponse"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/standardResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/serverError"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/standardResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/standardResponse"
  /webhook/events/{dataset_id}/{version}:
    post:
      summary: "Takes a list of events and puts them on a data stream."
      description: "Takes a list of events and puts them on a data stream."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "version"
        in: "path"
        description: "Version for destination dataset"
        required: true
        type: "string"
      - name: "token"
        in: "query"
        description: "webhook token"
        required: true
        type: "string"
      - name: "dataset_id"
        in: "path"
        description: "Identifier for destination dataset"
        required: true
        type: "string"
      - in: "body"
        name: "postEventsRequest"
        description: "Array of json objects."
        required: true
        schema:
          $ref: "#/definitions/postEventsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/standardResponse"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/standardResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/serverError"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/standardResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/standardResponse"
securityDefinitions:
  authenticate:
    type: "apiKey"
    name: "Authorization"
    in: "header"
    x-amazon-apigateway-authtype: "custom"
definitions:
  postEventRequest:
    type: "object"
    title: "Post Event Request"
    description: "An arbitrary json object."
  standardResponse:
    type: "object"
    required:
    - "message"
    properties:
      message:
        type: "string"
    title: "Standard Response"
    description: "Response on success."
  postEventsRequest:
    title: "Post Events Request"
    type: "array"
    description: "An array of json objects."
    items:
      type: "object"
      properties: {}
  serverError:
    type: "object"
    required:
    - "message"
    properties:
      failedElements:
        type: "array"
        items:
          type: "object"
          properties: {}
      message:
        type: "string"
    title: "Server Error"
    description: "Internal server error."
